@page
@model Gym_Project.Pages.homepage_3Model
@{
    ViewData["Title"] = "Home page";
    Layout = "_layout2"; 

}

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h6>Welcome, Captain!</h6>
                                    <h2>The time table of the gym</h2>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="schedule-table">
                                        <meta charset="UTF-8">
                                        <meta name="viewport" content="width=device-width, initial-scale=1.0">

                                        <table class="table bg-white">
                                            <thead>
                                                <tr>
                                                    <th>Day</th>
                                                    <th>12 pm</th>
                                                    <th>03 pm</th>
                                                    <th>05 pm</th>
                                                    <th>06 pm</th>
                                                    <th class="last">08 pm</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="day">Sunday</td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>
                                                        <div class="hover">
                                                        </div>
                                                    </td>

                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="day">Monday</td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>

                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td class="day">Tuesday</td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>

                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="day">Wednesday</td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>

                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="day">Thursday</td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>

                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                    <td class="inactive">
                                                        <input type="text" value="Boys and girls time" disabled>                                                            <div class="hover">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>

                                            </tbody>
                                        </table>
                                        <button12 id="edit-button">Edit Schedule</button12>


                                        <script>
                                            function toggleEdit() {
                                                // Get all the input elements
                                                var inputs = document.getElementsByTagName("input");

                                                // Get the edit button
                                                var editButton = document.getElementById("edit-btn");

                                                if (editButton.innerHTML === "Edit Schedule") {
                                                    // Change button text to "Save Changes"
                                                    editButton.innerHTML = "Save Changes";

                                                    // Enable all input fields
                                                    for (var i = 0; i < inputs.length; i++) {
                                                        inputs[i].disabled = false;
                                                    }
                                                } else {
                                                    // Change button text back to "Edit Schedule"
                                                    editButton.innerHTML = "Edit Schedule";

                                                    // Disable all input fields
                                                    for (var i = 0; i < inputs.length; i++) {
                                                        inputs[i].disabled = true;
                                                    }
                                                }
                                            }
                                            var editButton = document.getElementById("edit-button");
                                            var inputs = document.getElementsByTagName("input");

                                            editButton.addEventListener("click", function () {
                                                for (var i = 0; i < inputs.length; i++) {
                                                    inputs[i].disabled = false;
                                                }
                                            });
                                            function stopEditing() {
                                                // Set the "disabled" attribute of all input fields to true
                                                var inputFields = document.getElementsByTagName("input");
                                                for (var i = 0; i < inputFields.length; i++) {
                                                    inputFields[i].disabled = true;
                                                }

                                                // Hide the "Stop Editing" button and show the "Start Editing" button
                                                var stopEditingBtn = document.getElementById("stop-editing-btn");
                                                var startEditingBtn = document.getElementById("start-editing-btn");
                                                stopEditingBtn.style.display = "none";
                                                startEditingBtn.style.display = "inline-block";
                                            }
                                        </script>
                                        <script>
                                            function updateSchedule() {
                                                // Get the values from the input fields
                                                var day = document.getElementById("day").value;
                                                var twel = document.getElementById("twel").value;
                                                var three = document.getElementById("three").value;
                                                var five = document.getElementById("five").value;
                                                var six = document.getElementById("six").value;
                                                var eight = document.getElementById("eight").value;

                                                // Update the schedule table
                                                document.getElementById("schedule").innerHTML =
                                                    "<tr><td class=\"day\">" + day + "</td><td>" + twel + "</td><td>" + three + "</td><td>" + five + "</td><td>" + six + "</td><td class=\"last\">" + eight + "</td></tr>";
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="about" class="about section">
    <div class="container">
        <h6 style="font-size:40px; margin-left:400px; margin-bottom:30px; margin-top:-50px">The plans available</h6>
        <div class="card-container">
            <div class="card">
                <h6>Monthly plan</h6>
                <img src="images/vec1.jpg" width="1000" height="250" alt="Image">
                <p>150 EGP/Month</p>
                <div class="border-first-button"><button>Delete</button></div>
                <div class="border-first-button"><buttonn>Edit</buttonn></div>

            </div>
            <div class="card">
                <h6>3 Months plan</h6>
                <img src="images/vec1.jpg" width="1000" height="250" alt="Image">
                <p>120 EGP/Month</p>
                <div class="border-first-button"><button>Delete</button></div>
                <div class="border-first-button"><buttonn>Edit</buttonn></div>

            </div>
            <div class="card">
                <h6>6 Months plan</h6>
                <img src="images/vec1.jpg" width="1000" height="250" alt="Image">
                <p>100 EGP/Month</p>
                <div class="border-first-button"><button>Delete</button></div>
                <div class="border-first-button"><buttonn>Edit</buttonn></div>

            </div>
            <div class="card">
                <h6>Yearly plan</h6>
                <img src="images/vec1.jpg" width="1000" height="250" alt="Image">
                <p>75 EGP/Month</p>
                <div class="border-first-button"><button>Delete</button></div>
                <div class="border-first-button"><buttonn>Edit</buttonn></div>

            </div>
        </div>
    </div>
</div>


<div id="services" class="services section">
    <div class="container">
        <div class="feedback-form">
            <form>
                <div class="feedback-question">
                    <label for="facilities">Request type</label>
                    <div class="dropdown">
                        <button class="dropbtn" onclick="showDropdown(event)">Select Type</button>
                        <div class="dropdown-content" id="myDropdown">
                            <a href="#" onclick="selectType(event, 'Maintainence')">Maintainence</a>
                            <a href="#" onclick="selectType(event, 'Removal')">Removal</a>
                            <a href="#" onclick="selectType(event, 'Add an equipment')">Add an equipment</a>
                        </div>
                    </div>
                    <input type="text" id="maintenance-type" name="maintenance-type" readonly>


                    <script>
                        function showDropdown(event) {
                            event.preventDefault();
                            var dropdown = document.getElementById("myDropdown");
                            if (dropdown.style.display === "block") {
                                dropdown.style.display = "none";
                            } else {
                                dropdown.style.display = "block";
                            }
                        }

                        function selectType(event, type) {
                            event.preventDefault();
                            document.getElementById("maintenance-type").value = type;
                            showDropdown(event);
                        }

                        // Close the dropdown if the user clicks outside of it
                        window.onclick = function (event) {
                            if (!event.target.matches('.dropbtn')) {
                                var dropdowns = document.getElementsByClassName("dropdown-content");
                                for (var i = 0; i < dropdowns.length; i++) {
                                    var openDropdown = dropdowns[i];
                                    if (openDropdown.classList.contains('show')) {
                                        openDropdown.classList.remove('show');
                                    }
                                }
                            }
                        }
                    </script>

                </div>
                <div class="feedback-comment">
                    <label for="comment">Request Comment:</label>
                    <textarea id="comment" name="comment"></textarea>
                </div>
                <div class="feedback-submit">
                    <button class="button">
                        <span class="button_lg">
                            <span class="button_sl"></span>
                            <span class="button_text">Submit</span>
                        </span>
                    </button>
                </div>
            </form>
        </div>

        <script>
            // select all the stars and the comment input
            const stars = document.querySelectorAll('.rating-star');
            const commentInput = document.querySelector('.comment-input');

            // initialize variables to keep track of selected ratings
            let gymRating = 0;
            let captainRating = 0;

            // add event listeners to all the stars
            stars.forEach((star) => {
                star.addEventListener('click', () => {
                    // get the rating value from the star's data attribute
                    const rating = star.getAttribute('data-rating');
                    // get the question type from the star's data attribute
                    const questionType = star.getAttribute('data-question-type');
                    // if the star is already active, remove the active class and reset the rating variable
                    if (star.classList.contains('active')) {
                        star.classList.remove('active');
                        if (questionType === 'gym') {
                            gymRating = 0;
                        } else if (questionType === 'captain') {
                            captainRating = 0;
                        }
                    } else {
                        // if the star is not already active, add the active class and set the rating variable
                        star.classList.add('active');
                        if (questionType === 'gym') {
                            gymRating = rating;
                            // remove active class from all other gym stars
                            const otherGymStars = document.querySelectorAll('[data-question-type="gym"]:not([data-rating="' + rating + '"])');
                            otherGymStars.forEach((otherStar) => {
                                otherStar.classList.remove('active');
                            });
                        } else if (questionType === 'captain') {
                            captainRating = rating;
                            // remove active class from all other captain stars
                            const otherCaptainStars = document.querySelectorAll('[data-question-type="captain"]:not([data-rating="' + rating + '"])');
                            otherCaptainStars.forEach((otherStar) => {
                                otherStar.classList.remove('active');
                            });
                        }
                    }
                });
            });

            // add event listener to the comment input
            commentInput.addEventListener('input', () => {
                // get the comment value from the input
                const comment = commentInput.value;
                // set the comment variable to the comment value
                commentInput.setAttribute('data-comment', comment);
            });

            // add event listener to the submit button
            const submitButton = document.querySelector('.submit-button');
            submitButton.addEventListener('click', () => {
                // check that both ratings have been selected
                if (gymRating === 0 || captainRating === 0) {
                    alert('Please rate both gym facilities and captains.');
                } else {
                    // get the comment value and log the feedback
                    const comment = commentInput.getAttribute('data-comment');
                    console.log(`Gym facilities rating: ${gymRating}, Captains rating: ${captainRating}, Comment: ${comment}`);
                }
            });

        </script>
    </div>
</div>


<div id="free-quote" class="our-porto section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <h6 style="font-size:50px; color:#fff; margin-bottom:-30px;">Equipment</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="loop owl-carousel">
                @for (int i =0; i<2; i++)
                {
                    <div class="item">
                        <a>
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="images/eq1.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Muscles:</h4> <span>Biceps, Shoulder</span>
                                    <h4>Condition:</h4> <span>83%</span>
                                    <div class="border-first-button"><button>Delete</button></div>
                                    <div class="border-first-button"><buttonn>Edit</buttonn></div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<div id="portfolio" class="our-portfolio section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <h6 style="font-size:50px; color:#fff">Feedbacks</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="loop owl-carousel">
                @for (int i = 0; i < Model.dt.Rows.Count; i++)
                {
                    <div class="item">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <h6 style="font-size:30px; color:#fff">@Model.dt.Rows[i][0]</h6>
                            </div>
                            <div class="down-content">
                                <h4>How do you rate the gym facilities?</h4>
                                <div class="circle-container">
                                    <div class="circle">@Model.dt.Rows[i][1]</div>
                                </div>
                                <h4>How do you rate the captains?</h4>
                                <div class="circle-container">
                                    <div class="circle">@Model.dt.Rows[i][2]</div>
                                </div>
                                <h4>Comment:</h4>
                                <span>@Model.dt.Rows[i][3]</span>


                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>